@{ Layout = "_LayoutAdmin"; }
@model Badik56.Models.PageObjects.MarketModel
<section>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <button id="button_menu" class="btn" style="width: 150px;" onclick="leftmenutoggle();">Скрыть меню</button>
                <div class="card-header">
                    <h4 class="card-title">Таблица редактирования товаров на <a href="https://badik56.ru">Badik56</a></h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            @*  <li><a data-action="collapse"><i class="ft-minus"></i></a></li>*@
                            <select class="custom-select" id="categori" name="category">
                                @for (int j = 0; j < Model.Categories.Count; j++)
                                {
                                    <option value="@Model.Categories[j].Name">@Model.Categories[j].Name</option>
                                }
                            </select>
                            @*<li><a data-action="reload" href="/Admin/Contacts"><i class="ft-rotate-cw"></i></a></li>*@
                            @*<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <p>Для того чтобы изменить товары на сайте заполните поле ниже и нажмите <code>добавить товар</code>. Или редактируйте товар <code>редактировать</code></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Название</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Изображение</th>
                                    <th scope="col">Категория</th>
                                    <th scope="col">Кол-во</th>
                                    <th scope="col">Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form action="Products" method="POST" enctype="multipart/form-data">
                                    <tr style="background-color: darkgray;">
                                        <td><input style="width: 120px;" type="text" name="name" class="form-control" value="" /></td>
                                        <td><input style="width: 120px;" type="text" name="price" class="form-control" value="" /></td>
                                        <td><textarea style="min-width: 168px; height: 40px;" type="text" name="about" class="form-control"></textarea></td>
                                        <td><input onclick="" style="width: 120px;" type="file" name="images" class="p-0 btn btn-info" multiple /></td>
                                        <td>
                                            <select class="custom-select" id="categori" name="categori">
                                                @for (int i = 0; i < Model.Categories.Count; i++)
                                                {
                                                    if (i == 0)
                                                    {
                                                        <option selected="">@Model.Categories[i].Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Model.Categories[i].Name">@Model.Categories[i].Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td><input name="count" style="width: 80px;" type="number" size="3" min="0"  value="1" class="form-control"></td>
                                        <td><button title="Добавить товар" type="submit" class="btn btn-icon btn-success mr-1 p-1"><i class="ft-check"></i></button></td>
                                    </tr>

                                </form>
                                @for (int i = 0; i < Model.Products.Count; i++)
                                {
                                    using (Html.BeginForm("EditProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                            <tr>
                                <td>
                                    <input style="width: 120px;" type="hidden" name="Id" value="@Model.Products[i].Id" />
                                    <input style="width: 120px;" type="text" name="name" class="form-control" value="@Model.Products[i].Name" />
                                </td>
                                <td><input style="width: 120px;" type="text" name="price" class="form-control" value="@Model.Products[i].Price" /></td>
                                <td><textarea style="height: 40px;" type="text" name="about" class="form-control">@Model.Products[i].Description</textarea></td>
                                <td>
                                    <div style="display: flex;">
                                        @for (int k = 0; k < @Model.Products[i].Image.Count; k++)
                                        {
                                            <div class="scale-1-5 mini-img" style="background-image: url(/images/products/@Model.Products[i].Image[k].Name);">
                                                <div class="mini-show" title="Просмотреть это фото" onclick="show_modal('/images/products/@Model.Products[i].Image[k].Name');">👁</div>
                                                <div class="mini-close" title="Удалить это фото" onclick="delete_it(@Model.Products[i].Id, @Model.Products[i].Image[k].Id);">✕</div>
                                            </div>
                                        }
                                        <input id="adding_photos_@i" style="display: none;" type="file" name="images" multiple />
                                        <div onclick="add_photos(@i);" title="Добавить фото к этому товару" class="mini-img" style="background-image: url(/images/plus.png)"; cursor: pointer;"></div>
                                    </div>
                                </td>
                                <td>
                                    <select class="custom-select" id="categori" name="categori">
                                        @for (int j = 0; j < Model.Categories.Count; j++)
                                        {
                                            if (Model.Categories[j].Name == Model.Products[i].Category.Name)
                                            {
                                                <option selected="">@Model.Categories[j].Name</option>
                                            }
                                            else
                                            {
                                                <option value="@Model.Categories[j].Name">@Model.Categories[j].Name</option>
                                            }
                                        }
                                    </select>

                                </td>
                                <td><input name="count" style="width: 80px;" type="number" size="3" min="0" value="@Model.Products[i].Count" class="form-control"></td>
                                <td>
                                    <button title="Сохранить изменения товара" name="action" value="edit" type="submit" class="btn btn-icon btn-warning mr-1 p-1"><i class="ft-edit"></i></button>
                                    <button title="Удалить товар" name="action" value="delete" type="submit" class="btn btn-icon btn-danger mr-1 p-1"><i class="ft-delete"></i></button>
                                </td>
                            </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form id="DeletePhoto" method="POST" action="DeletePhoto">
    <input id="Id" name="Id" type="hidden" value=""/>
    <input id="Id_photo" name="Id_photo" type="hidden" value=""/>
</form>
<div id="modal" style="
    z-index: 999999;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 10%;
    left: 10%;
    display:none;">
    <div style="position: absolute; color: black; top: 0; right: 0; font-size: 20px; padding: 0 6px; background: red; cursor: pointer;" title="Закрыть" onclick="close_modal();">✕</div>
    <a id="download" style="position: absolute; color: black; top: 0; left: 0; font-size: 20px; padding: 0 10px; background: #46ff46; cursor: pointer;" href="" title="Скачать картинку">↓</a>
</div>
<script type="text/javascript">
    function show_modal(src) {
        $('#modal').css('background-image', 'url(' + src + ')');
        $('#download').attr('href', src);
        var arr = src.split('/');
        $('#download').attr('download', arr[arr.length - 1]);
        $('#modal').show();
    }
    function close_modal() {
        $('#modal').css('background-image', 'url()');
        $('#download').attr('href', '');
        $('#download').attr('download', '');
        $('#modal').hide();
    }
    function delete_it(id1, id2) {
        $('#Id').attr('value', id1);
        $('#Id_photo').attr('value', id2);
        $('#DeletePhoto').submit();
    }
    function add_photos(k) {
        $('#adding_photos_' + k).click();
    }
    $(function () {
        $("#categori").change(function () {
            alert();
            window.location = window.location.href.split('?')[0] + "?category=" + this.value
        });
    });
    
</script>